html {
    scroll-snap-type: y mandatory;
}

.app {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.app_videos {
    position: relative;
    height: 800px;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    overflow: scroll;
    scroll-snap-type: y mandatory; /* put in html and container */
}

/* Hide Scrollbar for Chrome, Safari and Opera */
.app_videos::-webkit-scrollbar {
    display: none;
}

/* Hide Scrollbar for IE, Edge and Firefox */
.app_videos {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}