.video {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    scroll-snap-align: start; /* snaping from start of child comp */
}

.video_player {
    object-fit: fill;
    width: 100%;
    height: 100%;
}