.videoFooter {
    position: relative;
    color: white;
    bottom: 150px;
    margin-left: 40px;
    display: flex;
}

.videoFooter_text {
    flex: 1;
}

.videoFooter_text > p { /* try to use coma */
    padding-bottom: 20px;
}

.videoFooter_text > h3 {
    padding-bottom: 20px;
}

.videoFooter_icon {
    position: absolute;
}

.videoFooter_ticker > .ticker {
    height: fit-content;
    margin-left: 30px;
    width: 60%;
}

.videoFooter_ticker p {
    padding-top: 7px;
}

.videoFooter_record {
    animation: spinTheRecord infinite 5s linear;
    height: 50px;
    filter: invert(1); /* Add filter to the icon */
    position: absolute;
    bottom: 0;
    right: 20px;
}

@keyframes spinTheRecord {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}